---
import BaseFonts from '@/components/common/base-fonts.astro';
import { SITE } from '@/consts';
---

{/* 문자 인코딩 설정 */}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="/favicon.svg" />

{/* 폰트 설정 */}
<BaseFonts />

{/* 메타 태그 */}
<title>{SITE.title}</title>
<meta name="title" content={SITE.title} />
<meta name="description" content={SITE.description} />

{/* 소셜 미디어 태그 */}
<meta property="og:type" content="website" />
<meta property="og:title" content={SITE.title} />
<meta property="og:description" content={SITE.description} />
<meta property="og:image" content={SITE.image} />
<meta property="og:url" content={SITE.site} />
